body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    max-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: -webkit-linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr * 2);
    align-items: center;
    justify-content: center;
   
}

.logo {
    position: absolute;
    margin-top: 2rem;
}

.box {
    position: absolute;
    margin-top: 8.2rem;
}

.woman {
    margin-right: 50px;
}

.accordion {
    width: 100%;
    border-radius: 20px;
    padding: 30px 30px 30px 500px;
    background-color: #fff;
}

footer {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #000;
    margin: 5.08rem 0 2rem;
}

footer a {
    color: #000;
}